body{
    margin: 0;
    background: #f1f1f1;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 2em;
}

.home-page{
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
}

.home-page-anchor{
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 100%;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    cursor: pointer;
    width: 100px;
    transition: all 0.3s ease-in-out;
}

.home-page-anchor:hover{
    background-color: rgb(54, 54, 54);
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.pallete button{
    outline: none;
    border: none;
    padding: 0.7em 2em;
    font-size: 1.1em;
    position: absolute;
    top: -1em;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2em;
    background: #1f1f1f;
    color: #fff;
    font-weight: 500;
    letter-spacing: 2px;
    cursor: pointer;
    transition: 0.4s;
}

.pallete button:hover{
    background: #fff;
    color: #1f1f1f;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.pallete{
    position: relative;
    background: #fff;
    width: 45em;
    height: 25em;
    border-radius: 20px;
    box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #1f1f1f;
    padding-top: 5em;
    box-sizing: border-box;
}

.colors {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-y: hidden;
    height: 100%;
    border-radius: 20px;
}

.colors >div{
    width: 25%;
} 

.color{
    background: #ccc;
    height: 17em;
    width: 100%;
}

.colors h4{
    font-size: 0.9em;
}

.fade-in{
    opacity: 0;
    animation: fadeIn 0.4s ease-in;
}

@media screen and (max-width: 500px) {
   body{ padding: 2em; }
   .pallete { height: initial; }
   .colors { flex-direction: column; }
   .colors > div { width: 100%; } 
}

@keyframes fadeIn {
    to{opacity: 1;}    
}

