*{
    margin: 0;
    padding: 0;
}

.header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.button-container{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.button-container .button-class{
    background-color: rgb(0, 145, 255);
    border-color: transparent;
    border-radius: 8px;
    color: white;
    width: 100px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    margin: 10px;
    transition: transform 0.2s ease-in;
    cursor: pointer;
    
}


.inactive{
    background-color: rgb(135, 137, 138);
    border-color: transparent;
    border-radius: 8px;
    color: white;
    width: 100px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    margin: 10px;
    transition: transform 0.2s ease-in;
    cursor: no-drop; 
}

.button-container .button-class:hover{
    transform: scale(1.1);
}

h2{
    color: rgb(110, 105, 126);
    margin: 50px;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    font-size: 26px;
    text-align: center;
    background-color: white;
    z-index: 4;
    transition: border 0.2s ease-in;
}

.panel{
    border: 2px solid rgb(97, 98, 98);

}

.panel-active{
    border: 2px solid rgb(0, 145, 255);
}


.line-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.line-container h1{
    transform-origin: left; 
    width: 500px;
    border: 2px solid rgb(0, 145, 255);
    z-index: 3;    
    transition: transform 0.2s ease-in;

}


.line-container-grey{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.line-container-grey h1{
    transform-origin: left; 
    transform: scaleX(1);
    width: 500px;
    border: 2px solid rgb(97, 98, 98);
}

.width0{
    transform: scaleX(0);
}

.width25{
    transform: scaleX(0.25);

}

.width50{
    transform: scaleX(0.5);

}

.width75{
    transform: scaleX(0.75);

}

.width100{
    transform: scaleX(1);

}