*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color: #fffdff;
}

.game{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.board{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: fit-content;
    column-gap: 10px;
    row-gap: 10px;
    background-color: black;
}

.cell{
    
    text-align: center;
    width: calc(100vh/4);
    height: calc(100vh/4);
    background-color: #fffdff;
    cursor: pointer;
}

.cellX{
    width: 100%;
    height: 100%;
    background-image: url(/Images/X-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: default;

}

.cellO{
    width: 100%;
    height: 100%;
    background-image: url(/Images/O-gif.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: default;
}