*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: burlywood;
}

.content button{
    background-color: cadetblue;
    margin: calc(100vw/40);
    padding: 10px 20px;
    font-size: 30px;
}

.slider{
    
    position: absolute;
    left: 50vw;
    top: 60vh;
    transform: translate(-50%, -50%);
    text-align: center;

}

.slider h2{
    margin: 30px;

}

h1{
    position: absolute;
    top: 10vh;
    left: 50vw;
    transform: translate(-50%);
    text-align: center;
}

