*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fdf9f2;

}

.feedback{
    width: 400px;
    height: 300px;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.feedback h3{
    text-align: center;
}

.feedback .options{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 10px;
}

.feedback .options .option{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 80px;
    flex-direction: column;
    cursor: pointer;
}

.feedback .options .option:hover{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.feedback .options .option .fa-solid{
    margin: 10px;
    font-size: 30px;
}

.feedback .options .option .fa-face-frown{

    color: red;

}


.feedback .options .option .fa-face-meh{
    color: orange;
    
}


.feedback .options .option .fa-face-laugh-beam{
    color: green;
}

.feedback .send{
    display: flex;
    align-items: center;
    justify-content: center;
}

.feedback .send button{
    width: 120px;
    height: 40px;
    padding: 10px;
    font-size: 15px;
    color: white;
    background-color: #2f2d2b;
    transition: transform 0.2s ease;
    border: none;
    cursor: pointer;
}


.feedback .send button:active{
    transform: scale(0.95);
}


.selected{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);

}

.content .inactive{
    display: none;
}

.message{
    width: 400px;
    height: 300px;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.message h3{
    text-align: center;
    margin: 10px;
}

.message i{
    color: red;
    font-size: 50px;
    margin: 10px;
}

.message p{
    text-align: center;
    margin: 10px;

}