*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.mountains{
    width: 50vw;
    height: 100vh;


    background-image: url("https://images.pexels.com/photos/4261096/pexels-photo-4261096.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    transition: width 1s ease;
}

.beach{
    width: 50vw;
    height: 100vh;

    background-image: url("https://images.pexels.com/photos/412681/pexels-photo-412681.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    transition: width 1s ease;

}

.hover-left{
    width: 150vw;

}

.hover-right{
    width: 150vw;

}

.details{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.details h1{
    font-size: 40px;
    margin: 50px;
}

.details button{
    background-color: transparent;
    border: 5px solid white;
    color: white;
    margin: 50px;
    width: 150px;
    height: 80px;
    font-size: 25px;
    cursor: pointer;
}

.details button:hover{
    background-color: cadetblue;
}