*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color: black;
    overflow: hidden;

}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;

}

.content .clickable{
    height: 100px;
    width: 400px;
    font-size: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
}

.circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    transform: translate(-50%, -50%) scale(1);
    animation: grow 5s linear;
    z-index: 1;
}

@keyframes grow{
    to {
        transform: translate(-50%, -50%) scale(35);
        opacity: 0;
    }
}