*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;   
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: cornflowerblue;
    
}



.input{
    transition: width 0.2s ease;
    position: absolute;
    width: 50px;
    height: 50px;
    border-color: transparent;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    padding: 20px;
    font-size: 15px;
    
}

.input:focus{
    border: none;
    outline: none;
}

.open{
    width: 150px;
    transform: translateX(-100%, -50%);
}

.search{

    position: absolute;

}

.search button{
    background-color: white;
    border-radius: 5px;
    border-color: transparent;
    cursor: pointer;
    font-size: 20px;
    width: 50px;
    height: 50px;
    transition: transform 0.2s ease;
}

.search-open{
    transform: translate(150%);
}

