*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.boxes{
    display: none;
    text-align: center;
    margin: 20px;

}

.boxes h3{
    color: rgb(96, 96, 96);
}

.boxes h1{
    margin: 5px;
    background-color: white;
    padding: 10px;
    min-width: 150px;
    border: 2px solid grey;
    box-shadow: 1px 1px 6px;
    font-size: 25px;
}

.content{
    background-color: #e1e1e1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.starter{
    padding: 20px;
    border: 2px solid grey;
    background-color: white;
    box-shadow: 1px 1px 6px;
    text-transform: capitalize;
    
}

.starter-hide{
    display: none;
}

.boxes-show{
    display: inline;

}