*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: #f0f0f0;
}

.content{
    max-width: 500px;
    text-align: center;
    margin: 20px;
}

.content h3{
    margin: 20px;
}

.content textarea{
    font-size: 20px;
    padding: 20px;
    min-width: 400px;
    min-height: 200px;
    white-space: normal;
}

.tags{ 
    display: flex;
    max-width: 500px;
    flex-wrap: wrap;

}

.tags span{
    display: inline-block;
    padding: 5px;
    border-radius: 8px;
    background-color: rgb(183, 194, 194);
    margin: 5px;

}
