*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(236, 210, 175);
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.content h1{
    margin: 55px;
}


.box{
    padding: 65px 100px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: rgb(72, 144, 147);
    font-size: 30px;
    margin: 20px;
    transition: transform 0.2s ease;

    transform: translateX(100vw);
}



.show{
    transform: translateX(0vw);

}